In [1]:
#Imports

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#Load in dataset
data = pd.read_csv('./uber-raw-data-sep14.csv')

In [3]:
#Check how many items we have-  1028136 examples with 4 features each
data.shape

(1028136, 4)

In [4]:
#Convert Date/Time feature to Python-readable numerical format
data['Date/Time'] = data['Date/Time'].map(pd.to_datetime)

In [8]:
def get_day_of_month(dt):
    return dt.day

#add a Day of Month feature column
data['Day of Month'] = data['Date/Time'].map(get_day_of_month)

In [28]:
def get_weekday(dt):
    return dt.weekday()

#add a Weekday feature column
data['Weekday'] = data['Date/Time'].map(get_weekday)

In [29]:
def get_hour(dt):
    return dt.hour

#add Hour feature column
data['Hour'] = data['Date/Time'].map(get_hour)

             Date/Time      Lat      Lon    Base  Day of Month  Weekday  Hour
0  2014-09-01 00:01:00  40.2201 -74.0021  B02512             1        0     0
1  2014-09-01 00:01:00  40.7500 -74.0027  B02512             1        0     0
2  2014-09-01 00:03:00  40.7559 -73.9864  B02512             1        0     0
3  2014-09-01 00:06:00  40.7450 -73.9889  B02512             1        0     0
4  2014-09-01 00:11:00  40.8145 -73.9444  B02512             1        0     0
5  2014-09-01 00:12:00  40.6735 -73.9918  B02512             1        0     0
6  2014-09-01 00:15:00  40.7471 -73.6472  B02512             1        0     0
7  2014-09-01 00:16:00  40.6613 -74.2691  B02512             1        0     0
8  2014-09-01 00:32:00  40.3745 -73.9999  B02512             1        0     0
9  2014-09-01 00:33:00  40.7633 -73.9773  B02512             1        0     0
10 2014-09-01 00:33:00  40.7467 -73.6131  B02512             1        0     0
11 2014-09-01 00:37:00  40.8105 -73.9600  B02512             1        0     0
12 2014-09-01 00:38:00  40.6790 -74.0111  B02512             1        0     0
13 2014-09-01 00:39:00  40.4023 -73.9839  B02512             1        0     0
14 2014-09-01 00:48:00  40.7378 -74.0395  B02512             1        0     0
15 2014-09-01 00:48:00  40.7214 -73.9884  B02512             1        0     0
16 2014-09-01 00:49:00  40.8646 -73.9081  B02512             1        0     0
17 2014-09-01 01:08:00  40.7398 -74.0061  B02512             1        0     1
18 2014-09-01 01:17:00  40.6793 -74.0116  B02512             1        0     1
19 2014-09-01 01:19:00  40.7328 -73.9875  B02512             1        0     1
20 2014-09-01 01:39:00  40.6743 -73.9334  B02512             1        0     1
21 2014-09-01 01:41:00  40.7638 -73.9962  B02512             1        0     1
22 2014-09-01 02:03:00  40.7638 -73.9811  B02512             1        0     2
23 2014-09-01 02:13:00  40.7415 -73.9975  B02512             1        0     2
24 2014-09-01 02:33:00  40.7445 -73.9855  B02512             1        0     2
25 2014-09-01 02:39:00  40.6614 -73.9409  B02512             1        0     2
26 2014-09-01 02:41:00  40.7494 -73.9946  B02512             1        0     2
27 2014-09-01 03:18:00  40.7529 -74.0040  B02512             1        0     3
28 2014-09-01 04:01:00  41.0319 -74.1813  B02512             1        0     4
29 2014-09-01 04:06:00  40.7983 -73.9628  B02512             1        0     4
30 2014-09-01 04:20:00  40.6932 -73.9430  B02512             1        0     4
31 2014-09-01 04:34:00  40.7070 -74.0045  B02512             1        0     4
32 2014-09-01 05:02:00  40.7193 -73.9998  B02512             1        0     5
33 2014-09-01 05:11:00  40.7608 -73.9859  B02512             1        0     5
34 2014-09-01 05:12:00  40.8293 -73.9432  B02512             1        0     5
35 2014-09-01 05:16:00  40.7612 -73.9874  B02512             1        0     5
36 2014-09-01 05:25:00  40.7215 -73.9841  B02512             1        0     5
37 2014-09-01 05:29:00  40.7778 -73.9888  B02512             1        0     5
38 2014-09-01 05:45:00  40.7501 -74.0025  B02512             1        0     5
39 2014-09-01 05:55:00  40.7769 -73.9862  B02512             1        0     5
40 2014-09-01 05:56:00  40.7499 -73.9717  B02512             1        0     5
41 2014-09-01 06:04:00  40.7513 -73.9350  B02512             1        0     6
42 2014-09-01 06:08:00  40.7291 -73.9813  B02512             1        0     6
43 2014-09-01 06:14:00  40.7674 -73.9841  B02512             1        0     6