In [1]:
#Imports

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#Load in dataset
data = pd.read_csv('./uber-raw-data-sep14.csv')

In [3]:
#Check how many items we have-  1028136 examples with 4 features each
data.shape

(1028136, 4)

In [4]:
#Convert Date/Time feature to Python-readable numerical format
data['Date/Time'] = data['Date/Time'].map(pd.to_datetime)

In [8]:
def get_day_of_month(dt):
    return dt.day
data['Day of Month'] = data['Date/Time'].map(get_day_of_month)

In [10]:
data.tail()

                  Date/Time      Lat      Lon    Base  Day of Month
1028131 2014-09-30 22:57:00  40.7668 -73.9845  B02764            30
1028132 2014-09-30 22:57:00  40.6911 -74.1773  B02764            30
1028133 2014-09-30 22:58:00  40.8519 -73.9319  B02764            30
1028134 2014-09-30 22:58:00  40.7081 -74.0066  B02764            30
1028135 2014-09-30 22:58:00  40.7140 -73.9496  B02764            30